.filterTitle {
    img {
        height: 12px;
        margin-right: 6px;
    }

    font-size: 10px;
}

.filterItem {
    font-size: 12px;
    margin-left: 8px;
    margin-right: 8px;

    a {
        padding: 8px 25px;
        color: black;
    }
}
