.name {
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
}

.creator {
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #939393;
    margin-bottom: 7px;

    strong {
        font-weight: 400;
        color: black;
    }
}

.followers {
    font-weight: 300;
    font-size: 12px;
    line-height: 22px;
    color: black;
}

.board {
    a {
        position: relative;
        padding-top: 132%;
    }

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
