.name {
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
}

.creator {
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #939393;
    margin-bottom: 7px;

    strong {
        font-weight: 400;
        color: black;
    }
}

.followers {
    font-weight: 300;
    font-size: 12px;
    line-height: 22px;
    color: black;
}
