//@import "~bulma/sass/utilities/_all";
//@import "~bulma/sass/grid/_all.sass";
//@import "~bulma/sass/layout/_all.sass";
//@import "~bulma/sass/elements/container.sass";
//@import "~bulma/sass/form/_all.sass";
//@import "~bulma/sass/helpers/_all.sass";
@import "~bulma/bulma.sass";
@import '~pretty-checkbox/src/pretty-checkbox.scss';

body {
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navbar-menu {
    align-items: center;
}

.navbar-menu .navbar-start .navbar-item {
    font-size: 18px;
    font-weight: 400;

    &.is-active {
        border-bottom: 1px solid black;
    }
}

.navbar-menu .navbar-end {
    .input {
        font-size: 14px;
        font-weight: 400;
        border-radius: 0;
        border: unset;
        box-shadow: unset;
        border-bottom: 1px solid black;
    }

    .control .icon {
        color: #dadada;
        width: 35px;
        height: 35px;
    }

    .navbar-item {
        font-size: 14px;

        .fa, .fas, img {
            display: inline-block;
            margin-right: 4px;

            &.fa-heart {
                color: #FF3366;
            }
        }
    }

    .navbar-dropdown {
        border-top: unset;
        background-color: #f7f7f7;
        border-radius: 0;
    }
}

header {
    padding: 10px 80px;
}

.filter {
    padding: 24px 80px;
    margin-bottom: 8px;

    .filter-item {
        font-size: 12px;
        margin-left: 8px;
        margin-right: 8px;

        a {
            padding: 8px 25px;
            color: black;

            &.is-active {
                border-bottom: solid 1px black;
            }
        }
    }
}

.brand {
    font-size: 55px;
    font-weight: 400;

    small {
        font-size: 14px;
    }
}

.sticky-active {
    header {
        background-color: white;
    }

    .brand {
        display: none;
    }

    .filter {
        background-color: #f7f7f7;
        padding: 8px 80px;
    }
}
